---
// src/components/SectionTitle.astro
import CircleDotIcon from './icons/CircleDotIcon.astro';

interface Props {
    title: string;
    iconColorClass?: string;
    textColorClass?: string;
    containerClass?: string;
    iconSize?: number | string;
    iconStrokeWidth?: number | string;
}

const {
    title,
    iconColorClass,
    textColorClass,
    containerClass = 'flex items-center gap-2', // Clases por defecto para el contenedor
    iconSize = 24,
    iconStrokeWidth = 3
} = Astro.props;

// Clases por defecto para el badge
const defaultBadgeTextColor = 'text-gray-800';
const defaultBadgeRounded = 'rounded-md';
const defaultIconColor = 'text-gray-800';
---

<div class={`${containerClass} ${defaultBadgeRounded}`}>
    <CircleDotIcon class={iconColorClass || defaultIconColor} size={iconSize} strokeWidth={iconStrokeWidth} />
    <h2 class={`font-semibold text-2xl ${textColorClass || defaultBadgeTextColor}`}>
        {title}
    </h2>
</div>